@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 15px 100px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9FAF8;
    font-weight: 900;

}

.quart-one {
    display: flex;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 55px;
    padding-bottom: 55px;
    gap: 20px;
}

.quart-one-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.quart-one-right {
    display: flex;
    background-color: grey;
    width: 300px;
    flex-shrink: 0;
    color: white;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
}
.quart-one-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.quart-one-content {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid #3882f6;
    width: 75px;
    border-radius: 4px;
}

.quart-two {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.quart-two-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-bottom: 30px;
}

.quart-two-content {
    display: flex;
}

div .card {
    height: 100px;
    width: 100px;
    border: solid #3882f6;
    border-radius: 4px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text {
    text-align: center;
}

.quart-three {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E5E7EB;
}

.thor-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;

}

.thor {
    font-weight: 900;
}

.quart-four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 20px 40px;
    border-radius: 4px;
}

.ad-header {
    color: #F9FAF8;
    font-weight: bold;   
}

.ad-content {
    color: #E5E7EB;
}

.ad-button {
    border: solid #F9FAF8;
    border-radius: 4px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-left: 80px;
    font-weight: bold;
    padding: 5px 10px;
    flex-shrink: 0;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7Eb;
    padding: 25px 100px;
}